* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

main {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 100%;
}

main .card {
    border-radius: 10px;
    max-width: 800px;
    flex: auto;
    height: auto;
    border: 3px solid lightgray;
    margin: 20px;
    position: relative;
    background-color: white;
}

main .card .top-card {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    justify-content: center;
    border-bottom: 3px solid lightgray;

}



main .card .top-card .right-top .image img {
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .card .top-card .left-top {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

main .card .top-card .left-top .pizza_name {
    font-size: 35px;
    text-shadow: none;
}

main .card .top-card .left-top .description {
    margin-top: 10px;
    text-shadow: none;
    font-size: 15px;
}

main .card .top-card .left-top .calories {
    margin-top: 10px;
    font-size: 12px;
    text-shadow: none;
}

.bottom-bar {
    background-color: rgba(224, 217, 217, 0.7);
    overflow: hidden;
    position: fixed;  /* This ensures the navbar is always at the top */
    bottom: 0;           /* Aligns the bottom to the bottom */
    width: 100%;      /* Ensures the navbar stretches the full width of the page */
    z-index: 1000;    /* Keeps the navbar above other elements */
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: none;
}

.bottom-bar .total {
    margin: 5px;
    padding: 5px;
    text-shadow: none;
    margin-right: -5px;
}

.bottom-bar .price {
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    text-shadow: none;
    color: green;
    font-weight: bold;
}

.bottom-bar .add-to-cart {
    border-radius: 20px;
    background-color: rgb(80, 198, 80);
    margin: 5px;
    padding: 5px;
}

.bottom-bar .add-to-cart:hover {
    transform: scale(105%);
}
