/* CSS file that will contain all CSS for database */
body {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5%;
    background: url('../img/pizza.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

form {
    text-align: center;
    width: auto;
    display: inline-block;
    background-color: rgba(224, 217, 217, 0.7);
    padding: 10px 20px;
    border-radius: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

}

label {
    font-family: 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin-bottom: 6px;
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-right: 3px;
}

h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 3s ease-in-out;
}

.button {
    display: inline-block;
    background-color: #F67280;
    color: #ffffff;
    padding: 10px 20px;
    height: fit-content;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: #C06C84;
}

.button:active {
    background-color: #6C5B7B;
    position: relative;
    top: 1px;
}

.toppings-list {
    color: black;
    text-shadow: none;
    margin-bottom: 10px;
    vertical-align: middle;
    overflow: auto;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.navbar {
    background-color: rgba(224, 217, 217, 0.7);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.report_header {
    background-color: rgba(7, 4, 4, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    top: 50px;
}

.card {
    border-radius: 10px;
    width: 500px;
    height: 600px;
    margin: 1px auto;
    position: relative;
    background-color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
select {
    width: auto;
    padding: 8px 12px;
    margin-bottom: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #F67280;
    box-shadow: 0 0 5px #F67280;
}

#errorMessage {
    color: black;
    font-weight: bold;
    margin: 10px;
    opacity: 1;
    transition: opacity 1s;
}

#cart-button {
    background-color: #ff9900;
    color: white;
    float: right;

}

#cart-button:hover {
    background-color: #ff7700;
}

.checkout-window {
    display: flex;
    width: 60%;
    height: 80%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-heading {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    text-shadow: none;
    padding-bottom: 20px;

}

.cart-panel {
    width: 90%;
    height: 70%;
    margin: 0px 0px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(224, 217, 217, 0.7);
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    overflow: auto;

}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
    text-shadow: none;
}

.cart-items li {
    font-size: 16px;
    margin: 5px 0;
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.orderbutton {
    display: block;
}

.php-heading {
    color: black;
    font-size: 24px;
    text-shadow: none;
}

.th-spacing {
    padding-right: 8px;
    padding-left: 8px;
}

main .main-holder {
    display: flex;
    justify-content: center;
}

main .main-holder .order-display {
    position: absolute;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

main .od-header {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

main .od-header .filterALL {
    width: 200px;
    text-align: center;
    background-color: rgba(224, 217, 217, 0.7);
    margin-left: 10px;
    border-radius: 10px;
}

main .od-header .filterALL:hover {
    background-color: rgba(224, 217, 217, 0.542);
    ;
}

main .od-header .count {
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-align: right;
    width: 1000px;
}

main .main-holder .order-display .order-card {
    border-radius: 10px;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px
}

main .main-holder .order-display .order-card-info {
    display: flex;
    flex-direction: row;
    flex: auto;
}

main .main-holder .order-display .order-card .order-card-info .order-card-left {
    width: 50%;
    border-right: 1px dashed black;
}

main .main-holder .order-display .order-card .order-card-info p {
    margin: 25px;
}

main .main-holder .order-display .order-card .order-card-info .order-card-left .order-id {
    color: black;
}

main .main-holder .order-display .order-card .order-card-info .order-card-left .customer {
    color: black;
}

main .main-holder .order-display .order-card .order-card-info .order-card-left .date {
    color: black;
}

main .main-holder .order-display .order-card .order-card-info .order-card-left .time {
    color: black;
}

main .main-holder .order-display .order-card .order-card-info .order-card-left .total {
    color: black;
}

main .main-holder .order-display .order-card .order-card-info .order-card-right {
    width: 47%;
    border-right: 1px solid black;
}

main .main-holder .order-display .order-card .order-card-info .order-card-right .items-ordered {
    color: black;
    width: 90%;
}

main .main-holder .order-display .order-card .order-card-info .order-card-right .items {
    color: black;
    width: 90%;
    margin: 1px;
    margin-left: 15px;
}

main .main-holder .order-display .order-card .order-card-info .order-card-right .type {
    color: black;
    width: 90%;
}

main .main-holder .order-display .order-card .order-card-info .order-card-right .time_completed {
    color: black;
    width: 90%;
    position: absolute;
    margin-top: 10px;
}

main .main-holder .order-display .order-card .order-card-info .status {
    color: black;
    text-orientation: upright;
    writing-mode: vertical-lr;
    margin: 8px;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

main .main-holder .order-display .order-card .order-card-info .complete_button {
    color: black;
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

main .main-holder .order-display .order-card .order-card-info .complete_button:hover {
    background-color: #cfe098;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.centered_table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.item-style {
    padding-left: 20px;
}

.menu-style {
    font-weight: bold;
}

input[type="date"] {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

.customerinfo {
    background-color: rgba(224, 217, 217, 0.7);
    border-radius: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.customerinfo .triggerDisplay {
    margin: 10px;
    color: rgba(63, 63, 63, 0.7);
}

.customerinfo .totalspent {
    margin: 10px;
    color: black;
}

.customerinfo .storecredit {
    margin: 10px;
    color: black;
}

.customerinfo .remainingNeeded {
    margin: 10px;
    color: rgba(63, 63, 63, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.customerinfo .remainingNeeded .needed {
    color: rgb(75, 171, 70);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}