/* CSS for the checkout page */

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkout-window {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
}
.cart-heading {
    color: black;
}


.cart-panel {
    width: 50%; /* Set the desired width (60% of the screen width) */
    height:80%;
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px; /* Add padding for spacing inside the box */
    position: absolute;
    top: 50%; /* Center the box vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the box precisely */
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
}

.cart-items li {
    font-size: 16px;
    margin: 5px 0;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

.place-order-button {
    background-color: #F67280;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.place-order-button:hover {
    background-color: #C06C84;
}
